<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321411658784-09h4mloa1erit5606f1dcmpdslqs5aj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321411658784-09h4mloa1erit5606f1dcmpdslqs5aj2</string>
	<key>API_KEY</key>
	<string>AIzaSyAwBxMnolpqrLedw5WsuAbp1LFHW8YZ1r4</string>
	<key>GCM_SENDER_ID</key>
	<string>321411658784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-application-dfc45</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-application-dfc45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321411658784:ios:7e4aebdfcd5792e5173845</string>
</dict>
</plist>